* { 
  margin: 0;
  padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left {
  background: white;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.charlie {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 60px;
}

.bot {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.right {
  background-color: #5374C9;
  color: white;
  width: 50%;
  height: 100vh;
}

.right > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.talk-to-me {
  margin-bottom: 5px;
  text-align: center;
}

.right p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.right h1 {
  margin-bottom: 10px;
}

.right ul {
  padding-left: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.avatar {
  align-self: center;
}
